<mat-toolbar color="primary">
  <button (click)="onClick()" mat-button class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <a mat-button routerLink="recipes">Recipes</a>

  <span class="example-spacer"></span>

  <a mat-icon-button *ngIf="userIsAuthenticated" routerLink="favorites">
    <mat-icon>favorite</mat-icon>
  </a>

  <a mat-button *ngIf="!userIsAuthenticated" routerLink="login">Login</a>

  <a mat-button (click)="onLogout()" *ngIf="userIsAuthenticated">Logout</a>
</mat-toolbar>
