mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title {
  height: 3em;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.card-holder {
  display: flex;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
  gap: 1em;
}

mat-card {
  width: 20%;
  height: 20%;
}

a {
  /*   width: 150px; */
  font-size: 15px;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .recipe-card {
    min-width: 60%;
  }

  mat-form-field {
    min-width: 65%;
  }
}
