<div class="card-holder">
  <mat-card *ngFor="let recipeFavoriteListRecipe of recipeFavoriteListRecipes">
    <mat-card-header>
      <mat-card-title>
        <a routerLink="../recipes/{{ recipeFavoriteListRecipe.idMeal }}">{{
          recipeFavoriteListRecipe.strMeal
        }}</a></mat-card-title
      >
    </mat-card-header>
    <img mat-card-image src="{{ recipeFavoriteListRecipe.strMealThumb }}" alt="" />
    <mat-card-actions>
      <button
        mat-mini-fab
        color="warn"
        (click)="detach(recipeFavoriteListId, recipeFavoriteListRecipe.id)"
        aria-label="Example icon button with a filter list icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
