mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title {
  height: 3em;
}
.card-holder {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1em;
}

.recipe-card {
  max-width: 35%;
}

a {
  color: #000;
  text-decoration: none;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .recipe-card {
    min-width: 60%;
  }

  mat-form-field {
    min-width: 65%;
  }
}
