<h1>Favorite Recipes</h1>

<!-- <ul *ngFor="let userRecipe of userRecipes$ | async">
  <li>{{ userRecipe.strMealThumb }} {{ userRecipe.title }}</li>
  <button mat-button (click)="deleteRecipe(userRecipe.id)">Delete</button>
</ul> -->
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> This is the expansion title </mat-panel-title>
      <mat-panel-description> This is a summary of the content </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="card-holder">
      <mat-card *ngFor="let userRecipe of userRecipes$ | async">
        <mat-card-header>
          <mat-card-title>
            <a routerLink="../recipes/{{ userRecipe.id }}">{{
              userRecipe.title
            }}</a></mat-card-title
          >
        </mat-card-header>
        <img mat-card-image src="{{ userRecipe.image }}" alt="" />
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="deleteRecipe(userRecipe.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
