<h1>Favorite Recipes</h1>

<!-- <ul *ngFor="let userRecipe of userRecipes$ | async">
  <li>{{ userRecipe.strMealThumb }} {{ userRecipe.title }}</li>
  <button mat-button (click)="deleteRecipe(userRecipe.id)">Delete</button>
</ul> -->
<mat-accordion *ngFor="let favorite of favorites">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ favorite.title }} </mat-panel-title>
      <button mat-raised-button color="warn" (click)="onDeleteFavorite(favorite.id)">DELETE</button>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-recipe-favorite-list-card
        [recipeFavoriteListId]="favorite.id"
      ></app-recipe-favorite-list-card>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<form class="new-list">
  <mat-form-field class="full-width" id="listName">
    <mat-label>List name</mat-label>
    <input matInput placeholder="Breakfast ideas" [formControl]="listName" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onCreateFavorite(listName.value)"
  >
    Create new list
  </button>
</form>
