<!-- <app-recipe-search></app-recipe-search> -->
<app-recipe-search-ingredient></app-recipe-search-ingredient>
<div class="card-holder">
  <mat-card *ngFor="let meal of meals" class="recipe-card">
    <mat-card-header>
      <mat-card-title
        ><a routerLink="{{ meal.idMeal }}">{{ meal.strMeal }}</a></mat-card-title
      >
    </mat-card-header>
    <img mat-card-image src="{{ meal.strMealThumb }}" alt="" />
    <mat-card-content> </mat-card-content>
    <mat-card-actions *ngIf="userIsAuthenticated">
      <button mat-button (click)="addRecipe(meal.idMeal, meal.strMeal, meal.strMealThumb)">
        ADD
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <app-info-box
  title="Please select a category on the left"
  *ngIf="meals.length === 0"
></app-info-box> -->
